/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'Open Sans',sans-serif;letter-spacing:0;color:#333}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:none}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var,strong{font-style:normal;font-weight:normal}
caption{overflow:hidden;left:-9999px;width:0.01em;height:0.01em;font-size:0.01em;line-height:0.01em}

/* global */
@mixin ir-pm {
  display:block;
  overflow:hidden;
  font-size:0;
  line-height:0;
  text-indent:-9999px
}

@mixin screen-out {
  overflow:hidden;
  position:absolute;
  width:0;
  height:0;
  line-height:0;
  text-indent:-9999px
}

